@import url(./normalize.css);
@import url(./vars.css);

* {
    margin: 0;
    box-sizing: border-box;
}

html, body {
    min-height: 100vh;
    font-size: var(--main-font-size);
    background: var(--main-background);
    color: var(--main-color-text);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p {
    display: inline-block;
    min-width: 180px;
}
select{
    min-width: 53.5%;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 15px;
    
}
.form__registration {
    max-width: 500px;
    background: lightgrey;
    margin: 0 auto;
    padding: 30px 29px;
    border-radius: 5px;
    box-shadow: 1px 5px 13px 4px #426b6d;
}
.form input,
.form textarea,
.form select {
    width: 100%;
    padding: 5px 8px;
    border-radius: 2px;
    font-size: 0.9rem;
    border: 1px solid black;
    margin-right: auto;
}
input[type="age"] {
    width: 15%;
}
.button {
    padding: 6px 14px;
    border: 1px solid black;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.25s linear;
}
.item{
    margin-bottom: 15px;
}
.item textarea{
    padding: 8px;
}
.item .check{
    padding-left: 20px;
}
.item__radio p{
   margin-right: 25px;
}
.button:not(:last-child){
    margin-right: 20px;
}
.button:hover {
    background: #f8fcfb;
    box-shadow: 0 0 5px 6px #626d73;
}
.block-btn {
    text-align: center;
    padding-bottom:10px;
}
.item__radio:not(:last-child){
    margin-right: 50px;
}
/* Скрыть элемент */
.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
 span.radio__box{
    border-radius: 50%;
}
.check__box, .radio__box{
    display: inline-block;
    position: absolute;
    width: 0.6em;
    height: 0.6em;
    box-shadow: 0 0 0 0.1em #626d73;
    margin-top: 0.2em;
    margin-left: -1em;
    border-radius: 0.05em;
    background-color: #fff;
}
.radio__box::before{
    content: '';
    display: inline-block;
    width: 0.3em;
    height: 0.3em;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
}
.checkbox__input:checked + .check__box {
    background-color: #f76beb;
     box-shadow: 0 0 0 0.1em #f76beb,
    0 0 0 0.2em #a50598;
    background-image: url(../assets/img/check.svg);
}
.radio__input:checked + .radio__box::before{
     background-color: #a50598;
    transform: translate(-50%, -50%) scale(1);
}

.checkbox__input:hover +.check__box,
.radio__input:hover + .radio__box,
.radio__input:checked + .radio__box {
    box-shadow: 0 0 0 0.1em #f76beb,
    0 0 0 0.2em #a50598;
    cursor: pointer;
}

        
